@{
    ViewBag.Title = "About";
}

<div class="main-content">
    <div class="container mt-7">
        <div class="row mt-5">
            <div class="col">
                <div class="card bg-dark shadow">
                    <div>
                        <div class="about-container text-center">
                            <p class="mt-3">Assets provided by <a href="https://www.flaticon.com">Flaticon</a>.</p>

                            <p>Used edited <a href="https://bootswatch.com/lumen/">Lumen</a> variation of bootstrap framework.</p>

                            <p>Got the table from <a href="https://jsfiddle.net/CreativeTim/b2Lez9pm/">here</a>.</p>

                            <p>And the user profile page <a href="https://jsfiddle.net/CreativeTim/Lvnb8eza/">here</a>.</p>

                            <p><a href="https://github.com/SKREFI/Tider/blob/main/Tider/Models/IdentityModels.cs">Github</a></p>

                            <p><a href="https://lucid.app/lucidchart/invitations/accept/647d9847-c9ad-41c5-b270-fee45d6dca11">Lucidchart</a></p>

                            <p>Proiect DAW By <a href="https://github.com/sorinNgit">Sorin Neculae</a> si <a href="https://github.com/SKREFI">Sandu Razvan Alexandru</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   