@model Tider.Models.ApplicationUser

<tr>
    <th scope="row">
        <div class="media align-items-center">
            <a href="/ApplicationUsers/ProfilePage/@Model.Id" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder" src="@Model.Image_url">
            </a>
            <div class="media-body">
                <span class="mb-0 text-sm">@Model.Email</span>
            </div>
        </div>
    </th>
    <td>
        @Model.NickName
    </td>
    <td>
        @if (Model.Roles.Count() == 3) {
            <a class="badge badge-danger text-white">Admin</a>
        } else if (Model.Roles.Count() == 2) {
            <a class="badge badge-warning text-white">Moderator</a>

        } else {
            <a class="badge badge-secondary text-black">User</a>
        }
    </td>
    <td>
        @Model.RealName
    </td>
    <td>
    </td>
    <td class="text-right">
        <div class="dropdown">
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="small-icon" src="~/Content/src/three_dots.svg" />
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="background-color: #17355B;">
                <a class="dropdown-item" href="/ApplicationUsers/ProfilePage/@Model.Id">View Profile</a>
                @if (User.IsInRole("Admin")) {
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/Delete/@Model.Id">Delete User</a>
                    if (Model.Roles.Count() == 3) {
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=Moderator&userId=@Model.Id">Make moderator</a>
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=User&userId=@Model.Id">Make user</a>
                    } else if (Model.Roles.Count() == 2) {
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=Admin&userId=@Model.Id">Make admin</a>
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=User&userId=@Model.Id">Make user</a>
                    } else {
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=Admin&userId=@Model.Id">Make admin</a>
                        <a href="#" class="dropdown-item edit-roles" data-link="/ApplicationUsers/EditRole/?role=Moderator&userId=@Model.Id">Make moderator</a>
                    }
                }

            </div>
        </div>
    </td>
</tr>

